.departments-wrapper > header {
  padding: var(--distancing-large) var(--distancing-maximum)
    var(--distancing-large);
  margin-bottom: var(--distancing-regular);
  /* border-bottom: 4px solid var(--red-500); */
}

.departments-wrapper > section {
  margin-left: var(--distancing-maximum);
}

.search-department {
  display: flex;
  width: 23rem;
  height: 2.5rem;
  margin-bottom: var(--distancing-regular);
}
