.departments-wrapper > header {
  padding: var(--distancing-large) var(--distancing-maximum)
    var(--distancing-large);
}

.departments-wrapper > section {
  margin-left: var(--distancing-maximum);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading svg {
  height: 40px;
  width: 40px;
  color: var(--purple-500);
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
