.header {
  background-color: var(--purple-500);
  color: var(--white);
  height: var(--header-height);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.header .colored-header-section > h1 {
  margin: var(--distancing-regular);
  font-weight: var(--weight-regular);
}

.header .colored-header-section {
  flex: 1;
  height: 100%;
}

.header .colored-header-section:first-child {
  display: flex;
  align-items: center;
}

.header .colored-header-section:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .colored-header-section:last-child button {
  background-color: transparent;
  border: none;
  color: var(--white);
  margin-right: var(--distancing-regular);

  border-radius: 8px;
  padding: 6px 8px;

  transition: box-shadow 0.3s;
}

.header .colored-header-section:last-child button:hover {
  box-shadow: 4px 4px 10px var(--purple-300), -4px -4px 10px var(--purple-700);
}

.header .colored-header-section:last-child button svg {
  height: var(--icon-regular);
  width: var(--icon-regular);
  top: 2px;
  left: 1px;
  position: relative;
}

.header .colored-header-section:nth-child(1) {
  border-bottom: var(--header-border) solid var(--red-500);
}
.header .colored-header-section:nth-child(2) {
  border-bottom: var(--header-border) solid var(--green-500);
}
.header .colored-header-section:nth-child(3) {
  border-bottom: var(--header-border) solid var(--blue-500);
}
.header .colored-header-section:nth-child(4) {
  border-bottom: var(--header-border) solid var(--yellow-500);
}
