.sidebar {
  background-color: var(--purple-500);
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--distancing-regular);
}

.sidebar > header {
  display: flex;
  align-items: center;
  border-bottom: var(--border-width-regular) solid var(--white);
  padding: var(--distancing-large) var(--distancing-regular)
    var(--distancing-large);
  margin-bottom: var(--distancing-regular);
}

.sidebar > header > h1 {
  color: var(--font-color-opposite);
  font-weight: var(--weight-regular);
}

.sidebar > header > svg {
  margin-right: var(--distancing-small);
  width: var(--icon-large);
  height: var(--icon-large);
}

.sidebar svg {
  color: var(--font-color-opposite);
}

.sidebar > menu {
  padding: 0 var(--distancing-regular);
}
.sidebar > menu > nav {
  padding: var(--distancing-minimum) 0;
  display: flex;
  align-items: center;
}
.sidebar > menu > nav > svg {
  margin-right: var(--distancing-minimum);
  width: var(--icon-regular);
  height: var(--icon-regular);
}

.sidebar > menu > nav > a {
  text-decoration: none;
  color: var(--gray-100);
  font-size: 1.25rem;
  transition: filter 0.3s, color 0.3s;
}

.sidebar > menu > nav > a:hover {
  filter: brightness(1.4);
  color: var(--white);
}
